[Unit]
Description=uWSGI instance to serve trxsfr app
After=network.target

[Service]
User=mkowoods
Group=www-data
WorkingDirectory=/home/mkowoods/trxsfr-learning-web-app
Environment="PATH=/home/mkowoods/miniconda/envs/trxsfr-learning-app/bin"
ExecStart=/home/mkowoods/miniconda/envs/trxsfr-learning-app/bin/uwsgi --ini trxsfr-learning-web-app-uwsgi-config.ini

[Install]
WantedBy=multi-user.target