<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <style>
        body {
            padding-top: 10px;
            font-size: 40px;
        }

        #url-input {
            width: 400px;
        }

        .player {
          position: absolute;
          top:20px;
          right: 20px;
          width:200px;
        }

        pre {
            background-color: lightgrey;
            border-style: solid ;
            border-width: 1px;
            border-color: black;
            max-height: 400px;
            overflow-y: auto;
        }

        .container {
            width: 95%;
            margin-top: 20px;
        }

        .rotate90 {
            -webkit-transform: rotate(90deg);
            -moz-transform: rotate(90deg);
            -o-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
            transform: rotate(90deg);
        }

        #url-input{
            width: 400px;
        }

        /*#predict-canvas {*/
            /*margin: 20px;*/
        /*}*/

        /*img {*/
            /*image-orientation: from-image;*/
        /*}*/

        #choose-file {
            text-align: center;
        }

        #display-canvas {
            width: 100%;
            height: 100%;
        }

        h1 {
            font-size: 3.5rem;
        }

        #penny-label-text {
            height: 80px;
            display: flex;
            justify-content: center;
            align-items: stretch;
            /*text-align: center;*/
            /*vertical-align: middle;*/
            font-size: 40px;
        }

        #rotate-grp {
            height: 80px;
            margin-bottom: 1px;
            display: flex;
            justify-content: space-between;
            align-items: stretch;
        }

        #table-container {
            max-height: 50vh;
            overflow-y: scroll;
            font-size: 20px;
        }

    </style>
</head>
<body>
<div class="container-fluid" style="max-width: 95%;%">
    <div class="row" style="">
        <div class="col-12">
            <div class="row" style="margin-bottom: 20px">

                <button hidden  class="btn-lg btn-block btn-primary h1" id="predict"><h1>Predict</h1></button>
                <label id="choose-file" class="btn-lg btn-block btn-primary">
                    <h1 id="choose-file-label">Upload File...</h1>
                    <input id="file-upload" class="" type="file" style="display: none;" accept="image/*">
                </label>
            </div>

        </div>
    </div>
    <div class="row" style="">
        <div class="col-6" style="width: 50%">
            <div>
                <div id="rotate-grp" class="" role="group">
                    <button type="button" class="btn-lg btn-success" onclick="rotate90Degrees(clockwise = false)"><h2>Rotate Left</h2></button>
                    <button type="button" class="btn-lg btn-warning" onclick="rotate90Degrees(clockwise = true)"><h2>Rotate Right</h2></button>
                </div>
                <canvas id="display-canvas"></canvas>
                <canvas hidden id="predict-canvas"></canvas>
            </div>

        </div>

        <div class="col-6" style="width: 50%;">
            <div id="prob-penny">

                <div  id="penny-label-text">
                    <img id="loading-img" src="./static/ab79a231234507.564a1d23814ef.gif" height="100%">
                    <h2></h2>
                </div>
            </div>
            <!--<pre id="predictions">-->
                <!--No Data-->
            <!--</pre>-->
            <div id="table-container">
                <table class="table" id="pred-table">
                    <thead>
                        <th>
                            Value
                        </th>
                        <th>
                            Prob
                        </th>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row"></div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
<script src="./static/exif.js"></script>
<script>

    const img = new Image()

    const DISPLAY_CANVAS_DIM = 600;
    const PREDICT_CANVAS_MAX_DIM = 224;

    const video = document.querySelector('.player')
    const predict_btn = document.getElementById("predict");
    // const url_input = document.getElementById("url-input");
    // const remote_img_btn = document.getElementById("process-remote-image");
    // const random_img_btn = document.getElementById("random-image");
    // const run_webcam_btn = document.getElementById("run-webcam");
    const predict_canvas = document.getElementById("predict-canvas");
    const display_canvas = document.getElementById("display-canvas");
    const predict_ctx = predict_canvas.getContext('2d');
    const display_ctx = display_canvas.getContext("2d");
    const predictions = document.getElementById("predictions");
    const file_upload = document.getElementById("file-upload");
    const penny_label = document.getElementById("penny-label");
    const penny_label_text = document.getElementById("penny-label-text");
    const penny_label_text_h2 = document.querySelector("#penny-label-text h2")
    const img_preview = document.getElementById("img-preview");
    const load_img = document.getElementById("loading-img");



    function getBase64Image() {
        // Create an empty canvas element
        //var canvas = document.createElement("canvas");


        // Get the data-URL formatted image
        // Firefox supports PNG and JPEG. You could check img.src to
        // guess the original format, but be aware the using "image/jpg"
        // will re-encode the image.
        var dataURL = predict_canvas.toDataURL("image/png");
        return dataURL.replace(/^data:image\/(png|jpg);base64,/, "");
    }


    function predict(){
        let tbody = $("#pred-table tbody");
        let data = getBase64Image();
        //below 2 lines are current critical https://stackoverflow.com/a/29823632
        let form = new FormData();

        tbody.empty()
        form.append( "json", JSON.stringify( {img: data} ));
        fetch('/predict_mobilenet', {
            method: 'POST',
            body: form
        })
        .then(res => res.json())
        .then(res => {
            //predictions.innerText = res.data.toString() //  = res.data.toString()

            res.data.forEach((el) => {
                let tmplt = `<tr><td>${el.label.replace(/_/g, " ")}</td><td>${Math.round(el.prob * 1000.0)/10.0}%</td></tr>`
                tbody.append(tmplt)
            })
        })
        .catch(e => {
            console.log("failed on loaded callback");
            console.log(e)
        })
    }

    function predict_model(){
        //show loading image



        penny_label_text_h2.innerHTML = "";
        penny_label_text_h2.className = "";
        load_img.style.display = "inherit";

        data = getBase64Image();
        form = new FormData();
        form.append("json", JSON.stringify({img: data}));

        fetch('/api/is-penny-model-v1', {
            method: 'POST',
            body: form
        })
        .then(res => res.json())
        .then(res => {
            load_img.style.display = "none";
            console.log(res.data)
            const penny_prob = res.data[1];
            const prob = Math.round(penny_prob * 10000000.0)/100000.0;
            penny_label_text_h2.innerHTML = `P(Penny): ${prob}%`;


            if (penny_prob < 0.1){
                penny_label_text_h2.className = "alert alert-danger";
            } else if(penny_prob > 0.90){
                penny_label_text_h2.className = "alert alert-success";
            } else {
               penny_label_text_h2.className = "alert alert-warning"
            }
        })
        .catch(err => {
            load_img.style.display = "none";
            console.log("failed on loaded callback");
            console.log(err)
            penny_label_text_h2.html(err);
        })
    }

    let scaled_img_dims = (img) => {

        let h, w, aspect_ratio;

        if(img.width > img.height){
            //scale on width
            w =  Math.min(Math.max(DISPLAY_CANVAS_DIM, img.width), DISPLAY_CANVAS_DIM);
            aspect_ratio = img.width/img.height;
            h = w/aspect_ratio
        } else {
            h = Math.min(Math.max(DISPLAY_CANVAS_DIM, img.height), DISPLAY_CANVAS_DIM);
            aspect_ratio = img.height/img.width;
            w = h/aspect_ratio
        }
        return {height: h, width: w}
    };

    function updatePredictCanvasAndPredict(){
        const ratio = PREDICT_CANVAS_MAX_DIM/DISPLAY_CANVAS_DIM;
        predict_canvas.width = display_canvas.width * ratio;
        predict_canvas.height = display_canvas.height * ratio;
        predict_ctx.drawImage(display_canvas, 0, 0, predict_canvas.width, predict_canvas.height);

        setTimeout(predict_model, 150);
        setTimeout(predict, 350)
    }

    function addImageToCanvas(){
        console.log('addImage To canvas');

        const scaled_dims = scaled_img_dims(img);

        display_canvas.width = scaled_dims.width;
        display_canvas.height = scaled_dims.height;

        //Need to make buffer canvas based
        display_ctx.drawImage(img, 0, 0, display_canvas.width, display_canvas.height);

        updatePredictCanvasAndPredict()

    }

    let angleInDegrees = 0
    function rotate90Degrees(clockwise = true){

        angleInDegrees += clockwise ? 90 : 270;
        angleInDegrees = angleInDegrees % 360;

        const scaled_dims = scaled_img_dims(img);

        console.log('New angle in Degrees', angleInDegrees)

        if (angleInDegrees === 90 || angleInDegrees === 270){
            display_canvas.width = scaled_dims.height;
            display_canvas.height = scaled_dims.width;
        } else {
            display_canvas.width = scaled_dims.width;
            display_canvas.height = scaled_dims.height;
        }

        display_ctx.clearRect(0,0,display_canvas.width,display_canvas.height);
    
        // save the unrotated ctx of the canvas so we can restore it later
        // the alternative is to untranslate & unrotate after drawing
        display_ctx.save();
    
        // move to the center of the canvas
        display_ctx.translate(display_canvas.width/2,display_canvas.height/2);
    
        // rotate the canvas to the specified degrees
        display_ctx.rotate(angleInDegrees*Math.PI/180);
    
        // draw the image
        // since the ctx is rotated, the image will be rotated also
        h = display_canvas.width
        w = display_canvas.height
        console.log(h, w)
        //ctx.drawImage(img, -scaled_dims.width/2,-scaled_dims.height/2);
        display_ctx.drawImage(img, -scaled_dims.width/2,-scaled_dims.height/2, scaled_dims.width, scaled_dims.height);

        // we’re done with the rotating so restore the unrotated ctx
        display_ctx.restore();
        updatePredictCanvasAndPredict()
    }


    //defining listeners

    img.addEventListener('load', addImageToCanvas);

    //Handler for uploading file to image preview element
    file_upload.addEventListener('change', function(){
        console.log('file upload event called');
        if(this.files && this.files[0]) {
            console.log('Has file')
            var reader = new FileReader();
            reader.onload = function (e) {
                img.src = e.target.result;
                //img_preview.src = img.src;
            }
            reader.readAsDataURL(this.files[0]);
        }
    })

    predict_btn.addEventListener('click', predict);

    //video.addEventListener('canplay', paintToCanvas);

    $(document).on('change', ':file', function() {
        console.log($(this))
        var input = $(this),
            numFiles = input.get(0).files ? input.get(0).files.length : 1,
            label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
        console.log(numFiles, label)
        input.trigger('fileselect', [numFiles, label]);
        if(numFiles < 1){
            $("#choose-file-label").text("Upload File...")
        } else {
            $("#choose-file-label").text(`File: ${label}`)
        }

    });

    $(document).ready(function(){
        img.src = "./static/elephant.jpeg"; //demo image
        if(img.complete){
            addImageToCanvas()
            //setTimeout(predict_model, 500)
        }


    })
</script>
</body>
</html>